@import "~src/scss/variables";

@mixin footer-common {
  background-repeat: no-repeat;
  background-position: 2rem 2rem, 2rem 6rem, 2rem 6rem;
  background-size: 3rem 3rem, 17rem 1rem, 21rem 5rem;
  width: 20rem;
  height: 12rem;
  box-shadow: 0px 0px 30px #2321321f;
  border: 1px solid #ffffff;
  border-radius: 20px;
  opacity: 1;
}

.label {
  @include labelStyle();
}

.input-container {
  text-align: start;
  width: 19rem;
  margin: auto;
  margin-top: 10px;
  input {
    width: 100%;
    height: 2rem;
    border: 0;
    border-bottom: 1px solid grey;
    font-size: 0.95rem;
  }
}

.content-container {
  display: flex;
  position: relative;
  left: 0;
  top: 6rem;
  .content-container__1 {
    .simple-text-container {
      position: relative;
      top: 0;
      left: 10rem;
      height: 5rem;
      width: 18rem;
      background: transparent url(/../assets/simpleText.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      opacity: 1;
    }

    .under-border {
      margin-top: 0.05rem;
      margin-left: 10rem;
      width: 236px;
      height: 8px;
      background: #000000 0% 0% no-repeat padding-box;
      border-radius: 13px;
      opacity: 0.7;
    }

    .collect-img {
      margin-top: 3rem;
      margin-left: 7rem;
      width: 31rem;
      height: 17rem;
      background: transparent url(/../assets/collect_img-video.png);
      opacity: 1;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }
}

.footer-container_1 {
  display: flex;
  flex-direction: column;
  left: 0;
  top: 50rem;
  position: absolute;
  .footer-image-col-1__1 {
    &:hover {
      background-color: #c6a7dc;
    }
    margin: 0 0 1rem 10rem;
    background-image: url(/../assets/paidInstant.png),
      url(/../assets/cashDisburse.svg), url(/../assets/loanTerms.svg);
    @include footer-common();
  }

  .footer-image-col-1__2 {
    &:hover {
      background-color: #c6a7dc;
    }
    margin-left: 10rem;
    margin-right: 0;
    margin-bottom: 1rem;
    background-image: url("/../assets/lowInt.png"),
      url("/../assets/Low-interest rate.svg"), url("/../assets/achieveGoal.svg");
    @include footer-common();
  }

  .footer-image-col-1__3 {
    &:hover {
      background-color: #c6a7dc;
    }
    margin-left: 10rem;
    margin-right: 0;
    background-image: url("/../assets/securePayments.png"),
      url("/../assets/ZeroPaperwork.svg"), url("/../assets/instant.svg");
    @include footer-common();
    margin-bottom: 1rem;
  }
}

.footer-container_2 {
  display: flex;
  flex-direction: column;
  left: 33rem;
  top: 55rem;
  position: absolute;
  .footer-image-col-2__1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 20rem;
    height: 12rem;
    box-shadow: 0px 0px 30px #2321321f;
    border: 1px solid #ffffff;
    border-radius: 20px;
    opacity: 1;
    background-color: #c6a7dc;
    background-image: url("/../assets/featureIcon.png"),
      url("/../assets/ace.svg"), url("/../assets/manage.svg");
    background-repeat: no-repeat;
    background-position: 2rem 2rem, 2rem 6rem, 2rem 6rem;
    background-size: 3rem 3rem, 17rem 1rem, 21rem 5rem;
    margin-bottom: 1rem;
  }
  .footer-image-col-2__2 {
    &:hover {
      background-color: #c6a7dc;
    }
    @include footer-common();
    background-image: url("/../assets/Covid.png"),
      url("/../assets/covidLoans.svg"), url("/../assets/zeroEmi.svg");
  }
}

.calculator-container {
  position: absolute;
  display: flex;
  align-items: center;
  top: 11rem;
  left: 46rem;
  width: 44rem;
  height: 45rem;
  .calculator-container__1 {
    width: 25rem;
    border-radius: 10%;
    background-color: white;
    height: 40rem;
    .calculator-container__form {
      label {
        color: lightgray;
        font-size: 20px;
        font-family: normal normal normal 25px/34px Open Sans;
      }

      h4 {
        padding-top: 2%;
        margin-top: 0;
        font-size: 1rem;
      }
      text-align: center;
      font: normal normal normal 25px/34px Open Sans;
    }
  }

  .calculator-container__2 {
    width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: #663399;
    height: 28rem;
    margin-left: 10px;
    text-align: center;
    color: white;
    .label {
      text-align: center;
      opacity: 0.5;
    }
    .margin-top {
      margin-top: 20px;
    }

    button {
      margin-top: 20px;
      width: 150px;
      height: 58px;
      box-shadow: 0px 0px 20px #00000033;
      border: 2px solid #663399;
      border-radius: 24px;
      margin-top: 81px;
      text-align: center;
      letter-spacing: 0px;
      color: #663399;
      opacity: 1;
    }
  }
}

.boost-container {
  position: absolute;
  top: 60rem;
  left: 64rem;
  .boost-container__open {
    width: 18rem;
    height: 4rem;
    background: transparent url(/../assets/boostText.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .boost-container__border {
    margin-top: 1rem;
    width: 3rem;
    height: 2rem;
    background: transparent url(/../assets/underLine.svg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .boost-container__description {
    margin-top: 1rem;
    width: 19rem;
    height: 2rem;
    background: transparent url(/../assets/boostDescription.svg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .boost_container__button {
    &:hover {
      background: white;
      color: #663399;
    }
    cursor: pointer;
    width: 10rem;
    height: 2rem;
    box-shadow: 0px 0px 20px #00000033;
    border: 2px solid #663399;
    border-radius: 24px;
    margin-top: 3rem;
    text-align: center;
    letter-spacing: 0px;
    color: #663399;
    opacity: 1;
  }
}
