.navbar-container {
  width: 100vw;
  display: flex;
  #logo {
    padding-top: 3%;
    padding-left: 7%;
    width: 6rem;
    height: 6rem;
  }

  ul {
    padding-left: 30rem;
    margin-top: 3rem;
    list-style: none;
    display: flex;
    align-items: center;
    li {
      margin-right: 50px;
      padding: 0;
      cursor: pointer;
      p {
        &:hover {
          color: #663399;
        }
        width: 103px;
        height: 34px;
        font: normal normal normal 25px/34px Open Sans;
        letter-spacing: 0px;
        color: #222222;
        opacity: 1;
      }
      #login {
        &:hover {
          background-color: #663399;
          color: white;
        }
        box-shadow: 0px 0px 20px #00000033;
        border: 2px solid #663399;
        border-radius: 24px;
        opacity: 1;
        width: 118px;
        height: 45px;
        text-align: center;
        letter-spacing: 0px;
        color: #663399;
        opacity: 1;
      }
      #get-started {
        &:hover {
          background: white;
          color: #663399;
        }
        width: 166px;
        height: 45px;
        background: transparent linear-gradient(90deg, #9f62c9 0%, #663399 100%)
          0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 20px #00000033;
        border-radius: 24px;
        opacity: 1;
        text-align: center;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
      }
    }
  }
}
