@import "~src/scss/variables";

.select-container {
  text-align: start;
  width: 19rem;
  margin: auto;
  margin-top: 1rem;

  .label {
    @include labelStyle();
  }
  .dropdown {
    width: 19rem;
    height: 3rem;
    border-bottom: 0.1rem solid lightgray;
    background-image: url(/../assets/down-arrow.png);
    background-position: 18rem 1.5rem;
    background-size: 1rem;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-right: 0;

    p {
      margin: 0;
      padding-top: 4%;
      font-size: 0.95rem;
    }
  }

  .optionList {
    background-color: white;
    border: 1px solid lightgray;
    z-index: 2;
    .option {
      cursor: pointer;
      padding-left: 2%;
      border-bottom: 1px solid lightgray;
    }
  }
}
