.background-container {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100rem;
  background-color: #fcfcff;
  background-image: url(/../assets/blob-small.svg), url(/../assets/circle.svg), url(/../assets/sol_wave_bg.svg);
  background-repeat: no-repeat;
  background-position: -12rem 9rem, 32rem -14rem, 0 100vh;
  background-size: 29rem 30rem, 74rem 74rem, 100% 67rem;
}
